# HTTP 代理端口
port: 7890

# SOCKS5 代理端口
socks-port: 7891

# Linux 和 macOS 的 redir 代理端口 (如需使用此功能，请取消注释)
# redir-port: 7892
# 设置日志输出级别 (默认级别：silent，即不输出任何内容，以避免因日志内容过大而导致程序内存溢出）。
# 5 个级别：silent / info / warning / error / debug。级别越高日志输出量越大，越倾向于调试，若需要请自行开启。
log-level: info
mode: rule
# ipv6 支持
ipv6: true
# 允许局域网连接
allow-lan: true
# Meta 内核特性 https://wiki.metacubex.one/config/general
# 统一延迟
# 更换延迟计算方式,去除握手等额外延迟
unified-delay: true
# TCP 并发
# 同时对所有ip进行连接，返回延迟最低的地址
tcp-concurrent: true
# 外部控制端口
external-controller: 127.0.0.1:9090

geodata-mode: true

# Geo 数据库下载地址
# 使用 FastGit 代理 (https://fgit.cf)
# 源地址 https://github.com/MetaCubeX/meta-rules-dat
# 可以更换镜像站但不要更换其他数据库，可能导致无法启动
geox-url:
  geoip: "https://cdn.jsdelivr.net/gh/Loyalsoldier/geoip@release/geoip.dat"
  geosite: "https://cdn.jsdelivr.net/gh/Loyalsoldier/v2ray-rules-dat@release/geosite.dat"
  mmdb: "https://cdn.jsdelivr.net/gh/Loyalsoldier/geoip@release/Country.mmdb"
  asn: "https://cdn.jsdelivr.net/gh/Loyalsoldier/geoip@release/GeoLite2-ASN.mmdb"

# 进程匹配模式
# 路由器上请设置为 off
# always 开启，强制匹配所有进程
# strict 默认，由 Clash 判断是否开启
# off 不匹配进程，推荐在路由器上使用此模式
find-process-mode: strict

# 缓解移动设备耗电问题
# https://github.com/vernesong/OpenClash/issues/2614
keep-alive-interval: 1800

# 全局客户端指纹
global-client-fingerprint: random # 随机指纹

# 缓存
profile:
  store-selected: true
  store-fake-ip: true

# 自动同步时间以防止时间不准导致无法正常联网
ntp:
  enable: true
  # 是否同步至系统时间，需要 root/管理员权限
  write-to-system: false
  server: time.apple.com
  port: 123
  interval: 30

# 域名嗅探
sniffer:
  enable: true
  sniff:
    TLS:
      ports: [443, 8443]
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true

# tun 模式
tun:
  enable: false  # enable 'true'
  device: utun
  stack: gvisor  # or 'gvisor'
  dns-hijack:
    - "any:53"
    - "tcp://any:53"
  auto-route: true
  auto-detect-interface: true
  strict-route: true # 将所有连接路由到 tun 来防止泄漏，但你的设备将无法其他设备被访问 热点将无法共享网络
  include_android_user:
    - 0

# 内网穿透
tunnels:
- network: [tcp, udp]
  address: 127.0.0.1:13000
  target: 192.168.1.88:8096
  proxy: Home

- network: [tcp, udp]
  address: 127.0.0.1:13001
  target: 192.168.1.180:445
  proxy: Home

- network: [tcp, udp]
  address: 127.0.0.1:13002
  target: 192.168.1.1:80
  proxy: Home

# dns 设置
# 已配置 ipv6
dns:
  cache-algorithm: arc # ARC（Adaptive Replacement Cache）缓存算法
  enable: true
  listen: :1053
  use-hosts: true
  ipv6: true
  ipv6-timeout: 300
  prefer-h3: true
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - '*'
    - '+.lan'
    - '+.local'
    - '+.leigod.com'
    - '+.vivox.com'
    - '+.stun.+'
    - '.n.n.srv.nintendo.net'
    - '+.stun.playstation.net'
    - 'xbox.*.*.microsoft.com'
    - '*.*.xboxlive.com'
    - 'lens.l.google.com'
    - '*.mcdn.bilivideo.cn'
    - 'localhost.ptlogin2.qq.com'
    - WORKGROUP
  default-nameserver:
    - tls://1.12.12.12:853
    - tls://223.5.5.5:853
    - https://223.5.5.5/dns-query 
    - tcp://119.29.29.29
    - tcp://223.6.6.6 
  nameserver:
    - quic://dns.adguard.com:784#dns  # DNS over QUIC 测试
    - https://1.1.1.1/dns-query#dns
    - https://1.0.0.1/dns-query#dns
    - tls://223.5.5.5:853#dns # DNS over TLS
    - https://doh.pub/dns-query#dns # DNS over HTTPS
    - https://dns.alidns.com/dns-query#dns&h3=true # 强制 HTTP/3，与 perfer-h3 无关，强制开启 DoH 的 HTTP/3 支持，若不支持将无法使用
    - https://mozilla.cloudflare-dns.com/dns-query#dns&h3=true # 指定策略组和使用 HTTP/3
    - dhcp://en0#dns  # dns from dhcp #测试
  proxy-server-nameserver:
    - https://doh.pub/dns-query
    - https://doh.360.cn/dns-query
    - tls://223.5.5.5
    - tls://dot.pub
  nameserver-policy:
    geosite:cn,private:
      - https://doh.pub/dns-query
      - https://dns.alidns.com/dns-query
    geosite:!cn,!private:
      - https://1.1.1.1/dns-query#dns
      - https://104.16.132.229/dns-query#dns
      - tls://dns.google#dns
      - tls://cloudflare-dns.com#dns
  fallback:
   #- tls://8.8.4.4
    - quic://a.passcloud.xyz:784#dns # quic是新兴的，比tls快一倍
    - tls://8.8.4.4:853#dns
    - tcp://1.1.1.1#dns
    - https://1.1.1.1/dns-query#dns&h3=true
    - https://1.0.0.1/dns-query#dns
    - tls://1dot1dot1dot1.cloudflare-dns.com#dns 
  
      
    
  fallback-filter:    # 国外网站使用此解析
    geoip: true # 配置是否使用 geoip
    geoip-code: CN
    geosite:      # 根据实际情况决定
      - cn
      
    ipcidr:
      - 240.0.0.0/4
      
    domain:
      - '+.google.com'
      - '+.facebook.com'
      - '+.youtube.com'
      - '+.googleapis.+'     

